/*navbar inicio*/
header#inicio{
    justify-content: center;
    height: 11.2vh;
}

/*Início*/
main.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.2vh;
    flex-flow: row wrap;
}
a[href='HTML/sla.html']{
    color: var(--background);
    padding: 1.3rem 1rem;
    text-decoration: none;
}