:root[data-tema = 'claro']{
    --background: #ebdabe;
    --text: #2e4030;
    --titulo: #364a3a;
    --destaques: #b8ac92;
    --links: #4b6b57;
    --bordas: #d1c2aa;
    --botões: #364a3a;
    --hover: #2b372a;
    --cards: #ffffff;
    --input: #F5F0E1;
    --shadow: 0 4px 8px rgba(75, 64, 53, 0.3);
}
:root[data-tema = 'escuro']{
    --background: #1f1f1a;
    --text: #d8d3c2;
    --titulo: #ced7c2;
    --destaques: #b8ac92;
    --links: #a5c2a2;
    --bordas: #3d3d35;
    --botões: #a5c2a2;
    --hover: #91a98f;
    --cards: #252520;
    --input: #2A2A2A;
    --shadow: 0 6px 12px rgba(0, 0, 0, 0.5);

}